<div class="container text-center d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="row">
            <h1>War Of Ships</h1>
            <button type="button" class="btn btn-primary hover-2" routerLink="/SinglePlayer" (click)="ToNavigate()">SinglePlayer</button>
            <button type="button" class="btn btn-danger hover-2-yellow" routerLink="/MultiPlayer">MultiPlayer</button>
            <button type="button" class="btn btn-warning hover-2" routerLink="/How To Play">How To Play</button>
        </div>
    </div>
</div>
