<div class="container boards">
  <div class="row">
    <div class="col-md-6">
      <table class="player" cdkDropListGroup>
        <tr
          *ngFor="let row of playerBoard"
          cdkDropList
          (cdkDropListDropped)="onDrop($event)"
        >
          <td
            *ngFor="let cell of row"
            [ngClass]="{ 'ship-cell': cell.shipId !== null }"
            cdkDropList
            (cdkDropListDropped)="onDrop($event)"
          >
            &nbsp;
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <table class="computer">
        <tr *ngFor="let row of computerBoard">
          <td
            *ngFor="let cell of row"
            [ngClass]="{ 'ship-cell': cell.shipId !== null }"
          >
            &nbsp;
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div
  class="ships-container"
  cdkDropList
  [cdkDropListData]="ships"
  (cdkDropListDropped)="onDrop($event)"
>
  <div
    *ngFor="let ship of ships"
    class="ships"
    [ngClass]="ship.name"
    cdkDrag
    [cdkDragData]="ship"
  ></div>
</div>

<div class="container">
  <div class="row buttons">
    <div class="col-xs-12">
      <button
        class="btn btn-info"
        [disabled]="!this.isStartGame"
        (click)="(start)"
      >
        start
      </button>
      <button class="btn btn-info flip" (click)="(flip)">Flip The Ship</button>
    </div>
  </div>
</div>
