<div class="container boards">
    <div class="row">
        <div class="ship-info">
            <p>
                Name: <span *ngIf="selectedShip">{{ selectedShip.name }}</span>
            </p>
        </div>
        <div class="col-md-6">
            <table class="player">
                <tr *ngFor="let row of playerBoard; let rowIndex = index">
                    <td
                        *ngFor="let cell of row; let colIndex = index"
                        [ngClass]="{
                            'ship-cell': cell.ship,
                            Fulton: cell.ship?.name === 'Fulton',
                            Clermont: cell.ship?.name === 'Clermont',
                            Argo: cell.ship?.name === 'Argo',
                            Dreadnought: cell.ship?.name === 'Dreadnought',
                            Titanic: cell.ship?.name === 'Titanic',
                            hit: cell.hittedColumn,
                            missed: cell.missedColumn
                        }"
                        (click)="columnClick(cell.id, playerBoard)"
                        [id]="cell.id"
                    ></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <app-computer></app-computer>
        </div>
    </div>
</div>

<div class="ships-container">
    <div *ngIf="currentShipIndex < ships.length" ngClass="ships-list">
        <div
            *ngFor="let ship of ships; let i = index"
            class="ships"
            [ngClass]="ship.name"
            (click)="selectShip(ship)"
            [class.selected]="selectedShip === ship"
        >
            <div *ngIf="selectedShip === ship" class="txt-inside">
                {{ selectedShip.length }}/{{ remainingParts }}
            </div>
        </div>
        <button
            class="btn btn-info"
            (click)="removeLastPlacedPart()"
            [disabled]="gameState === gameBattle"
        >
            back
        </button>
        <button
            class="btn btn-info"
            (click)="start()"
            [disabled]="gameState === gameBattle"
        >
            start
        </button>
    </div>
</div>

<div class="container"></div>
