.player td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.player,
.computer {
    border-collapse: collapse;
}
.boards {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.buttons {
    position: absolute;
    display: block;
    left: 0;
    height: 100vh;
}

/* .port-container {
  position: relative;
  width: 100%;
  height: 100px;
  border: solid black 1px;
}
.port {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  transform-origin: top right;
} */

/* .ships-container {
    box-sizing: border-box;
    height: 400px;
    width: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20px;
    top: 20%;
    border-width: 20px;
} */
.ships-container {
    display: flex;
    justify-content: center;
    margin-top: -80px;
}
.ships-list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.Fulton {
    width: 50px;
    height: 50px;
    background-color: black;
}
.Clermont {
    width: 50px;
    height: 50px;
    background-color: purple;
}
.Argo {
    width: 50px;
    height: 50px;
    background-color: pink;
}
.Dreadnought {
    width: 50px;
    height: 50px;
    background-color: lightblue;
}
.Titanic {
    width: 50px;
    height: 50px;
    background-color: cyan;
}
.selected {
    /* background-color: red; */

    border: 4px solid red;
}

/* .ship-cell {
    background-color: blue;
} */

.ship-info {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.txt-inside {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    color: red;
}

.btn-info {
    --😀: #644dff;
    --😀😀: #4836bb;
    --😀😀😀: #654dff63;
    cursor: pointer;
    width: 90px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.125em;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background: var(--😀);
    border: 2px solid var(--😀😀);
    border-radius: 0.75rem;
    box-shadow: 0 8px 0 var(--😀😀);
    transform: skew(-10deg);
    transition: all 0.1s ease;
    filter: drop-shadow(0 15px 20px var(--😀😀😀));
}

.btn-info:active {
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--😀😀😀);
}

.hit {
    background-color: red;
}
.missed {
    background-color: gray;
}
